<!DOCTYPE html>
<html>
  <head>
    <title>socket chat</title>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io.connect('http://localhost');
      var username = 'noob tomer';

      socket.on('test', function(data){
        console.log('connected to server');
      });

      socket.on('msg', function(data){
        console.log('received message:', data.text, new Date(data.time), "from:", data.user);
      });

      function send_msg(){
        var message_field = document.getElementById('message_field');
        socket.emit('msg', {text:message_field.value, user:username});
        console.log('sending message:', message_field.value);
        message_field.value = "";
        message_field.focus();
      }

      function set_username(){
        document.getElementById('login').style.setProperty('display', 'none');
        document.getElementById('chat').style.setProperty('display', 'block');
        username = document.getElementById('username').value || 'noob tomer';
      }
    </script>
  </head>
  <body>
    <div id='login'>
      <input id='username' placeholder='pick a name'>
      <button onclick='set_username()'>enter</button>
    </div>
    <div id='chat' style='display:none'>
      <input id='message_field'><button onclick='send_msg("I should send some text")'>send</button>
      <div id='messages' style='height:600px;width:400px;overflow-y:scroll'>
      </div>
    </div>
  </body>
</html>
